<header class="layout--header">
  <div class="layout--header__branding">
    <div class="container">
      <a href="{{ site.baseurl }}" class="logo" title="Home"></a>
      <nav class="nav-user pull-right">
        <a class="nav-user__link" href="#">Log out</a>
        <a class="nav-user__link" href="#">Messages</a>
      </nav>
    </div>
  </div>
  <div class="layout--header__img">
    <div class="container">
      <h2 class="layout--header__img-title">Intranet</h2>
    </div>
  </div>
