<header class="layout--header">
  <div class="layout--header__branding">
    <div class="container">
      <a href="{{ site.baseurl }}" class="logo" title="Home"></a>
      <nav class="nav-user pull-right">
        <a class="nav-user__link" href="#">Log out</a>
        <a class="nav-user__link" href="#">Messages</a>
      </nav>
    </div>
  </div>
  <div class="layout--header__img">
    <div class="container">
      <h2 class="layout--header__img-title">Intranet</h2>
    </div>
  </div>
  <div class="layout--header__nav">
    <div class="container">
      <nav class="nav-horizontal">
        <a class="nav-horizontal__link" href="#">ABOUT</a>
        <a class="nav-horizontal__link" href="my_irgnet.html">MY IRGNET</a>
        <a class="nav-horizontal__link" href="#">QUESTIONNAIRES</a>
        <a class="nav-horizontal__link" href="#">DOCUMENT LIBRARY</a>
        <a class="nav-horizontal__link" href="#">NRAS</a>
        <a class="nav-horizontal__link" href="#">NETWORK</a>
        <a class="nav-horizontal__link" href="#">EWGS</a>
        <a class="nav-horizontal__link" href="#">CALENDAR</a>
        <a class="nav-horizontal__link" href="#">IRG</a>
        <a class="nav-horizontal__link" href="#">BEREC</a>
      </nav>
    </div>
  </div>
</header>
